
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1030px;
  margin: 0 auto;
  top: 20px;
  left: 50px;
  position: relative;
  margin-top: 30px;
}

.sneakersListContainer {
  position: absolute;
  top: 2px; /* Ajusta según tu diseño */
  right: 93%; /* Ajusta según tu diseño */
}

.detailContainer {
  box-shadow: 0px 0px 2px black;
  display: flex;
}

.detailContent {
  margin-left: 30px;
}

.detailContent h2 {
  color: #0D6EFD;
  font-size: 24px;
  font-weight: 600;
}

.detailContent h4 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
}

.imagePreview img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.containerColors,
.sizesContainer {
  width: 300px;
  height: 40px;
  position: relative;
  top: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.14);
  text-align: center;
  display: flex;
  margin-top: 20px;
}

.containerColors span {
  font-size: 16px;
  font-weight: 100;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.sizesContainer span {
  font-size: 16px;
  width: 80px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.14);
  top: 8px;
  position: relative;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.price {
  margin: 20px 0;
  font-weight: 600;
  color: green;
}

.price h4 {
  font-size: 24px;
}

.nameContainer h4 {
  font-size: 30px;
  font-weight: 600;
}

.reviewContainer {
  display: flex;
  box-shadow: 0px 0px 2px black;
  position: relative;
  top: 20px;
  width: 100%;
  padding: 20px;
  margin-bottom: 80px;
}

.quantityContainer {
  margin-top: 20px;
}

.quantityButtons {
  display: flex;
  align-items: center;
}

.quantityButtons button {
  font-size: 18px;
  background-color: #0D6EFD;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 8px;
  transition: background-color 0.3s ease-in-out;
}

.quantityButtons button:hover {
  background-color: #0056b3;
}

.addToCartButton {
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.addToCartButton:hover {
  background-color: #004d40;
}

.homeButtonContainer {
  margin-top: 20px;
  text-align: center;
}

.homeButton {
  font-size: 18px;
  background-color: #0D6EFD;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.homeButton:hover {
  background-color: #0056b3;
}