.cards-display{
  margin-top: 22%;
  height: 30%;
}

.home-view{
  background-image: url("https://cdn.pixabay.com/photo/2015/02/26/13/56/sports-650364_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -32px;
}